.cart {
  h1 {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    text-align: center;
    font-size: 28px;
    padding: 30px 0;

    @media (max-width: $width1024) {
      padding: 25px 0;
      font-size: 24px;
    }
    @media (max-width: $width768) {
      font-size: 23px;
    }

    @media (max-width: $width425) {
      padding: 15px 0;
      font-size: 17px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @media (max-width: $width768) {
      flex-wrap: wrap;
    }
  }

  &__list {
    flex-grow: 1;
  }

  &__amount {
    button {
      padding: 0 10px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      font-size: 20px;
    }
  }

  &__container {
    display: flex;
    margin-bottom: 20px;
  }

  &__item {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    background-color: #f7f7f7;
    padding: 15px 20px;
    max-height: 220px;

    @media (max-width: $width768) {
      text-align: center;
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;

    @media (max-width: $width425) {
      font-size: 12px;
      height: 100%;
    }

    & > * {
      flex-grow: 1;
      flex-basis: 160px;
      margin-bottom: 8px;
    }
  }

  &__text {
  }

  &__title {
  }

  &__price {
  }

  &__image {
    width: 195px;
    height: 100%;

    @media (max-width: $width425) {
      width: 100%;
    }
  }

  &__checkbox {
    margin-right: 10px;
    input {
      display: none;

      &:checked + label {
        background-image: url(../img/checked.svg);
        background-repeat: no-repeat;
      }
    }

    @media (max-width: $width425) {
      display: none;
    }

    label {
      width: 24px;
      height: 24px;
      display: block;
      border-radius: 2px;
      box-shadow: 0 0 1px black;
      box-sizing: border-box;
    }
  }

  &__button {
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin-left: 10px;

    @media (max-width: $width768) {
      width: 100%;
    }

    button {
      padding: 10px 20px;
      border: 1px solid #000000;
      background-color: transparent;
      transition: 0.15s ease-in-out;
      cursor: pointer;

      @media (max-width: $width768) {
        padding: 12px 50px;
        width: 100%;
      }

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
