.cart {
  &__content {
    display: flex;
  }

  &__list {
    flex-grow: 1;
  }

  &__container {
    display: flex;
  }

  &__item {
    flex-grow: 1;
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    background-color: #f7f7f7;
    padding: 15px 20px;
    max-height: 220px;
  }

  &__main {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10px;

    & > * {
      flex-grow: 1;
      flex-basis: 160px;
      margin-bottom: 8px;
    }
  }

  &__text {
    // margin-left: 10px;
  }

  &__title {
    // margin-left: 10px;
    // display: inline-block;
  }

  &__price {
    // margin-left: 10px;
    // display: inline-block;
  }

  &__image {
    width: 195px;
    // height: 190px;
    height: 100%;
  }
}
