.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 600px;
  background: url(./../img/background-bottom.svg) no-repeat bottom center /
    contain;

  &__top {
    // padding: 0 10px;
    margin: 80px auto 140px;
    max-width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $width650) {
      justify-content: center;
      margin: 30px auto 20px;
    }

    .contact {
      padding: 0 10px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 18px;
      max-width: 90%;
      min-width: 280px;

      @media (max-width: $width650) {
        order: 2;
        font-size: 14px;
        text-align: center;
        height: 100px;
      }

      .phone {
        display: flex;
        justify-content: space-between;
        span {
          font-family: 'Roboto', sans-serif;
          padding: 0 5px;

          a {
            color: inherit;
            text-decoration: inherit;
          }
        }
      }

      .email {
        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
    }

    .instagram {
      height: 140px;
      max-width: 40%;
      text-align: center;

      @media (max-width: $width650) {
        order: 1;
        max-width: 100%;
      }

      .link {
        margin: 27px 0 0;
        padding: 0px 20px;
        min-height: 55px;
        display: flex;
        align-items: center;
        text-align: left;
        color: $black;

        @media (max-width: $width650) {
          background: linear-gradient(
            90.32deg,
            #4b2ba6 -5.07%,
            rgba(255, 67, 103, 0.779063) 45.17%,
            rgba(230, 137, 51, 0.62) 71.93%,
            #e6993e 99.78%
          );
        }

        span {
          font-size: 18px;
          margin-left: 20px;

          @media (max-width: $width650) {
            font-size: 14px;
            margin-left: 20px;
            padding-left: 12px;
            color: white;
            border-left: 1.5px solid white;
          }
        }

        &__instagram {
          &--desktop {
            @media (max-width: $width650) {
              display: none;
            }
          }

          &--mobile {
            display: none;
            @media (max-width: $width650) {
              display: block;
            }
          }
        }
      }

      @media (max-width: $width650) {
        & > span {
          display: none;
        }
      }
    }
  }

  &__bottom {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    width: 90%;
    margin: 0 auto;

    @media (max-width: $width650) {
      font-size: 12px;
      background-color: #eeeeee;
      width: 100%;
      padding: 0 20px;
      text-align: center;
      max-height: 40px;
    }

    img {
      width: 12.5%;

      @media (max-width: $width768) {
        width: 25%;
      }

      @media (max-width: $width650) {
        width: 35%;
      }
    }

    a {
      // font-size: 24px;
      text-decoration: none;
      color: black;
      @media (max-width: $width650) {
        width: 40%;
      }
    }
  }
}
