.spoiler input,
.spoiler div {
  display: none; /* Скрываем содержимое */
  transition: display 0.15s ease-in-out;
}

.spoiler label {
  display: flex;
  cursor: pointer;
}

.spoiler label::before {
  content: ''; /* Текст перед заголовком */
  width: 25px;
  height: 25px;
  background-image: url(../img/arrow-top.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  margin-right: 5px; /* Расстояние до текста */
  transition: transform 0.15s ease-in-out;
}
/* Открытый спойлер */
.spoiler :checked + label::before {
  transform: none;
}
.spoiler :checked ~ div {
  display: block; /* Показываем спойлер */
  padding: 10px; /* Поля вокруг текста */
}

.item {
  margin: 30px 0;

  .container {
    max-width: 950px;
  }

  &__content {
    display: flex;
    // justify-content: space-between;
  }

  &__image {
    width: 400px;
    height: 400px;
    background-color: lightcoral;
    margin-right: 80px;
  }
}
