.nav {
	&__content {
		margin-top: 10px;
	}

	&__list {
		// list-style: none;
	}

	&__item {
		display: inline-block;
		padding: 0 15px;
		vertical-align: middle;
		color: #aaaaaa;
		position: relative;

		&::after {
			content: "/";
			position: absolute;
			right: -4px;
			bottom: 0;
		}

		&:first-child {
			position: relative;
			padding-left: 25px;
			color: black;
			// border-right: 1px solid $black;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				background-image: url("../img/arrow-left.svg");
				background-repeat: no-repeat;
				background-size: cover;
				width: 8px;
				height: 100%;
			}

			&::after {
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				background-image: url("../img/vertical-line.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				width: 1px;
				height: 100%;
			}
		}

		&:last-child {
			&::after {
				content: "";
			}
		}
	}
}
